---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Sobre mí">
    <main class="container">
        <h1>Sobre mí</h1>
        <section>
            <p>¡Hola! Soy Elisabet Torres, una desarrolladora web junior apasionada por las tecnologías.</p>
        </section>

        <section>
        <h2>Habilidades</h2>
            <ul>
                <li>HTML &amp; CSS</li>
                <li>JavaScript moderno</li>
                <li>Astro (Layouts, Markdown, dynamic routing)</li>
                <li>React para componentes interactivos</li>
                <li>Git &amp; GitHub</li>
            </ul>
        </section>

        </section>
        <h2>Intereses</h2>
            <ul>
                <li>Optimización de rendimiento web</li>
                <li>Desarrollo de componentes reutilizables</li>
                <li>Explorar nuevas herramientas de Astro</li>
            </ul>
        </section>
    </main>
</BaseLayout>
