---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Sobre mí</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>Sobre mí</h1>
      <p>Me llamo Elisabet y estoy comenzando en Astro.</p>
    </main>
    <Footer />
  </body>
</html>
