---
import BaseLayout from "../layouts/BaseLayout.astro"
import InteractiveButton from "../components/InteractiveButton"
---
<BaseLayout title="Inicio">
	<main class="container">
		<h1>Blog con Astro</h1>
		<h2>Bienvendio a mi blog</h2>
		<p>Prueba el botón de 'Me gusta'</p>
		<InteractiveButton client:load/>
	</main>
</BaseLayout>
