---
// src/components/Footer.astro
const year = new Date().getFullYear();
---
<footer>
  <p>© Elisabet {year}</p>
  <p>
    <a href="https://twitter.com/elisabet_" target="_blank">Twitter</a> |
    <a href="https://github.com/Elisabetto" target="_blank">GitHub</a>
  </p>
</footer>

<style>
  footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background: #f8f8f8;
  }
  a {
    text-decoration: none;
    color: #555;
  }
</style>